@import "~bootstrap/scss/bootstrap.scss";

.topoflight{
    height:100px;
    width:15px;
    background: black;
    margin: auto;
    margin-top:100px;
    

}

.main{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    flex-direction: column;
    padding: 10px;
    height:300px;
    width:95px;
    border-radius: 20px;
    margin:auto;


}

.red{
    position: relative;
    border-radius:50px;
    height:40px;
    width:40px;
    background: red;

}
.yellow{
     position: relative;
    border-radius:50px;
    height:40px;
    width:40px;
    background:yellow;
}
.green{
     position: relative;
    border-radius:50px;
    height:40px;
    width:40px;
    background:green;
}